@charset "utf-8";
/* CSS Document */

body {
  background: #f9f1f1;
 /* background-image: url("Assets/Comic background.jpg");
  background-attachment: fixed;*/
}

.caption {
  margin-top: -21%;
}

.comic {
  background: white;
  box-shadow: 10px 10px 25px;
}

.header {
  background: #f9f1f1;
  /*background-image: url("Assets/Back Panel.png");
  background-size: cover; 
  border: 5px solid black;*/
  font-family: 'Comic Neue', cursive;
  font-weight: 900;
}

.header p {
  background: gold;
  border: 5px solid black;
  box-shadow: 10px 10px black;
}

.panels {
  border:5px solid black;
}

